@import '../_fonts';
.main-section{
    color: $text;
    height: 100vh;
    overflow: hidden;
    &__left{
        margin-left: 45px;
        margin-top: 6rem;
        flex: 1;
        &--greetings{
        font-size: 4.12rem;
        font-weight: 700;
        margin-bottom: 0px;
        font-family:$headerFont;
            & span{
                color: $contrastcolor2;
            }
        }
        &--do{
            font-weight: 400;
            margin-bottom: 30px;
            
            .value-animation{
                display: inline-block;
                width: 150px;
                height: 26px;
                margin-top: 8px;
                position: absolute;
                text-align: center;
                overflow: hidden;
                margin-left: 12px;
                span{
                    position: absolute;
                    width: 115px;
                    left: 19px;
                    animation: textanimation 3s ease-in-out infinite;
                }
                &::before{
                    content: '[';
                    color: $contrastcolor2;
                    position: absolute;
                    left: 0;
                    top: -7px;
                    font-weight: 600;
                }
                &::after{
                    content: ']';
                    position: absolute;
                    color: $contrastcolor2;
                    right: 0;
                    top: -7px;
                    font-weight: 600;
                }
            }
        }
        &--desc{
            font-weight: 400;
            font-size: 1.2rem;
            font-family: $subHeaderFont;
        }
        & .resume{
            margin-top: 25px;
            background: $contrastcolor;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 15px;
            box-shadow: 0 4px 4px 0 #0000006b;
            font-weight: $fw;
            font-size: $fs;
            font-family: $subHeaderFont;
            transition: all 0.2s ease-in;
            &:hover{
                background: rgb(0, 73, 77);
                color: rgb(224, 224, 224);
            }
        }
    }
    &__right{
        height: 100%;
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        .picture-container{
            width: 360px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        &--backgroundcolor{
            width: 360px;
            height: 400px;
            border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;;
            background-image: url("../Assets/img/mypic.png");
            background-repeat: no-repeat;
            background-size: cover;
            animation: morph 8s ease-in-out infinite;
            box-shadow: rgba(0, 59, 117, 0.4) 5px -2px, rgba(0, 59, 117, 0.3) 10px 3px, rgba(0, 59, 117, 0.2) 15px 8px, rgba(0, 59, 117, 0.1) 20px 13px, rgba(0, 59, 117, 0.05) 25px 18px;
        }
    }
}
@keyframes textanimation{
    0%{
        transform: translateY(-20px);
    }
    25%{
        transform: translateY(-5px);
    }
    75%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(20px);
    }
}

@keyframes morph {
	0% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}

	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}

	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
}
