@import '../_fonts';
@import '../_colors';
.skills{
    overflow: hidden;
    &-header{
        padding:20px 45px 0px; ;
        &-title{
            font-size: 3rem;
            font-weight: 600;
            color:$contrastcolor;
            font-family: $headerFont;
        }
        &-desc{
            text-align:justify;
            font-family: $subHeaderFont;
            font-weight: 500;
        }
    }
}
.skill-text-title h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    font-family: $headerFont;
}
.skills-main-content{
    padding: 0px 112px ;
}
.slider-container {
    width: 80%;
    overflow-x: hidden;
    height: 102px;
    margin: 0 auto;
    position: relative;
    padding-top: 10px;
    &::before,&::after{
        content: '';
        height: 100%;
        position: absolute;
        width: 5%;
        z-index: 2;
    }
    &::before{
        left: 0;
        top: 0;
        background: linear-gradient(to right, rgb(0 0 0 / 8%) 0%, rgb(0 0 0 / 0%) 100%);
    }
    &::after{
        right: 0;
        top: 0;
        background: linear-gradient(to left, rgb(0 0 0 / 8%) 0%, rgb(0 0 0 / 0%) 100%);
    }
}
.slider{
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
}
.webdev-cards-container, .gamedev-cards-container, .other-cards-container{
    display: flex;
    margin-left:auto;
    margin-right: auto;
    // width: calc(250px * 8);
    position: relative;
    animation: scroll 60s linear infinite;
    &:hover{
        animation-play-state: paused;
    }

}
.slide{
    width: 116px;
    padding: 5px 10px;
    margin-right: 40px;
    font-size: 1rem;
    font-weight: 300;
    font-family: $headerFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 8px 0px #00000080;
    border-radius: 5px;
    transition: all 0.25s;
    background: rgb(255 255 255 / 20%);
    cursor: pointer;
    &:hover{
        transform: scale(1.1)
    }
}
img.svg-icon{
    width: 40px;
    height: 40px;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1560px);
    }
    
}