@media (max-width:915px ) {
    /* Main Section */
    .main-section{
        flex-direction: column;
        padding-top: 6rem;  
    }
    .main-section__left{
        margin: 0px 45px 30px;
    }
    .main-section__left--greetings{
        white-space: nowrap;
        font-size: 3rem;
        margin-bottom: 10px;
    }
    .main-section__left--do .value-animation{
        margin-left: 8px;
        width: 119px;
    }
    .main-section__left--do .value-animation span{
        left: 3px;
    }
    .main-section__left--desc{
        line-height: 1.8rem;
    }
    .main-background{
        display: flex !important;
        flex-direction: column;
    }
    .main-background__left{
        flex:3;
    }
    .main-background__right{
        flex: 1;
    }
    .picture-container{
        justify-content: flex-start !important;
    }
    .main-section__right--backgroundcolor {
        width: 360px;
        height: 360px;
    }
    /* About */
    .about-content{
        flex-direction: column;
        margin: 0px 45px;
    }
    .college-school{
        margin-top: 0px !important;
    }
    .about-content-right{
        margin-left: 0px;
        margin-top: 50px;
        padding: 20px 0px !important;
    }
    .field-content-buttons{
        display: none;
    }
    .divider {
        top: 65%;
        width: 36vh;
        height: 15px;
    }
    .circle {
        top: -33%;
        left: 48%;
    }


    /* What I already know */
    .skills-main-content {
        padding: 0px 15px;
    }
    /* Projects */
    .projects-cards-container {
        flex-direction: column;
    }
    .project-card {
        width: 80vw;
    }
    .project1{
        margin-bottom: 101px;
    }
    .project2{
        margin-bottom: 159px;
    }
    /* Contact */
    .contact-content-right .contactUs-container {
        width: 100%;
    }
    .icon-links-container
    {  width: 100%;
        justify-content: space-around !important;
    }
    .icons-link-inside{
        margin-right: 0px !important; 
    }

}