
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// $background:#222831;
$secondbackground:#123c8a;
$background:#FFFFFF;
$text:#ffffff;
$hovercolor:#353535;
$contrastcolor2:#6EE4E3;
$contrastcolor:#00ADB5;
$fw:500;
$fs:20px;
$largefontsize: 4.12rem;
$headerFont:'Rubik', sans-serif;
$subHeaderFont:'Proxima Soft', sans-serif;
$otherFont: 'Fuzzy Bubbles', cursive;

body{
margin: 0;
padding: 0;
box-sizing: border-box;
position: relative;
overflow-x: hidden;
    .main-background{
        width: 100%;
        height: 100vh;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        display: grid; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 2.9fr 1.1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "main-background__left main-background__right"; 
          &__left { 
            grid-area: main-background__left;
            background: #003B77;
            }
          &__right { 
            grid-area: main-background__right;
            background: #6EE4E3;
            }
      }
    }


.main-section{
    color: $text;
    height: 92vh;
    padding-top: 40px;
    &__left{
        margin-left: 7rem;
        margin-top: -5rem;
        max-width: 700px;

        &--greetings{
        font-size: 4.12rem;
        font-weight: 700;
        margin-bottom: 0px;
            & span{
                color: $contrastcolor2;
            }
        }
        &--do{
            font-weight: 400;
            margin-bottom: 30px;
            .value-animation{
                display: inline-block;
                width: 150px;
                height: 26px;
                margin-top: 8px;
                position: absolute;
                text-align: center;
                overflow: hidden;
                margin-left: 12px;
                span{
                    position: absolute;
                    width: 115px;
                    left: 19px;
                    animation: textanimation 3s ease-in-out infinite;
                }
                &::before{
                    content: '[';
                    color: $contrastcolor2;
                    position: absolute;
                    left: 0;
                    top: -7px;
                    font-weight: 600;
                }
                &::after{
                    content: ']';
                    position: absolute;
                    color: $contrastcolor2;
                    right: 0;
                    top: -7px;
                    font-weight: 600;
                }
            }
        }
        &--desc{
            font-weight: 400;
            font-size: 1.2rem;
        }
        & .resume{
            margin-top: 25px;
            background: $contrastcolor;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 15px;
            box-shadow: 0 4px 4px 0 #0000006b;
            font-weight: $fw;
            font-size: $fs;
            font-family: $subHeaderFont;
        }
    }
    &__right{
        height: 100%;
        flex:1;
        position: relative;
        &--backgroundcolor{
            position: absolute;
            top: 45%;
            left: 50%;
            width: 350px;
            height: 350px;
            border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;;
            transform: translate(-63%, -50%) ;
            background-image: url("/Assets/img/mypic.JPG");
            background-repeat: no-repeat;
            background-size: cover;
            animation: morph 8s ease-in-out infinite;
            box-shadow: 0 0 10px 2px #5a5a5a;
        }
        .wavy{
            position: absolute;
            width: 150px;
            height: 50px;
            overflow: hidden;
        }
        .wavy::before {
            content: 'aaaaaaaaaa';
            position: absolute;
            top: -42px;
            left: 0;
            font-size: 4em;
            color: transparent;
            text-decoration-style:wavy;
            text-decoration-color: rgb(7, 18, 177);
            text-decoration-line: underline;
            text-decoration-thickness: 2px;
            animation: waves 4s linear infinite;
        }
        .position1 {
            bottom: 24%;
            transform: rotate(30deg);
        }
        .position2 {
            transform: rotate(343deg);
            right: 10%;
            top: 13%;
        }
        .position3{
            top: 11%;
        }
    }
}
@keyframes textanimation{
    0%{
        transform: translateY(-20px);
    }
    25%{
        transform: translateY(-5px);
    }
    75%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(20px);
    }
}
@keyframes waves{
    0%{
        transform: translateX(-1px);
    }
    100%{
        transform: translateX(-55px);
    }
}
@keyframes morph {
	0% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}

	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}

	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
}

.about{
    height: 100vh;
    background:$secondbackground;
    position: relative;
    
    .about-content{
        padding: 100px 2rem 0;

        &__left{
            color: $background;
            padding-right: 2rem;
            flex: 1;
            &--heading{
                $contrastcolor:#09e2ee;
                color: $contrastcolor;
                margin-bottom: 0;
                font-size: $largefontsize;
            }
            &--desc{
                font-size: 15px;
                color: #FFFFFF;
                margin-bottom:4rem;
                line-height: 1.2rem;
            }
            .schools{
                &__college{
                    margin-bottom: 40px;
                    &--name{
                        font-size: 1.5rem;
                        font-weight: 500;
                        margin-bottom: -4px;
                    }
                    &--desc{
                        font-size: 1.2rem;
                        color: #aaaaaa;
                        margin-bottom: 5px;
                    }
                    &--other{
                        font-weight: 400;
                        
                    }
                }
                &__highschool{
                    &--name{
                        font-size: 1.5rem;
                        font-weight: 500;
                        margin-bottom: -4px;
                    }
                    &--desc{
                        font-size: 1.2rem;
                        color: #aaaaaa;
                        margin-bottom: 5px;
                    }
                    &--other{
                        font-weight: 400;
                        
                    }    
                }
            }
        }
        & .seperator{
            position:relative;
            padding-right: 2rem;
            &__line{
                width: 8px;
                height: 50vh;
                position: absolute;
                transform: translate(50% 50%);
                bottom: 25px;
                background-color: $contrastcolor;
            }
            &__circle{
                width: 15px;
                height: 15px;
                border-radius: 15px;
                background-color: $contrastcolor;
            }

        }
        &__right{
            flex: 1;
            .right_content {
                .divider-line{
                    width: 60%;
                    height: 5px;
                    background: $background;
                    margin: 10px 0;
                }
                &__text{
                    color: $background;
                    &--value{
                        color: $contrastcolor;
                        font-size:3rem;
                        font-weight: 500;
                    }
                }

            }
        }
    }

    .curve{
        position: absolute;
        height: 225px;
        width: 100%;
        bottom: 0;
        &::before{
            content: '';
            display: block;
            position: absolute;
            border-radius: 100% 50%;
            width: 55%;
            height: 100%;
            background:$background;
            bottom: 12px;
            transform: translate(85%, 65%);
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            border-radius: 100% 50%;
            width: 55%;
            height: 100%;
            background:$secondbackground;
            bottom: 0;
            transform: translate(-4%, 40%);
            z-index: -1;
        }
    }

}