@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}
body nav {
  height: 8vh;
  padding: 10px;
}
body nav .main-logo__text {
  color: #1b1b1b;
}
body nav .right-nav {
  margin-left: auto;
}
body nav .right-nav ul {
  font-weight: 500;
  font-size: 19px;
  font-family: "Rubik", sans-serif;
  list-style: none;
  margin-right: 2rem;
}
body nav .right-nav ul li {
  padding-right: 10px;
}
body nav .right-nav ul a {
  text-decoration: none;
  color: #1b1b1b;
  outline: none;
}
body nav .right-nav ul a:hover {
  color: #353535;
}
body nav .right-nav button {
  border: none;
  background: #00ADB5;
  border-radius: 10px;
  padding: 2px 15px;
  margin-right: 2rem;
}
body nav .right-nav button a {
  text-decoration: none;
  color: #1b1b1b;
}

.floating-links {
  position: absolute;
  display: flex;
  height: 600px;
}
.floating-links > * {
  margin-bottom: 2rem;
}

.main-section {
  color: #1b1b1b;
  height: 100vh;
  background: #FFFFFF;
}
.main-section__left {
  margin-left: 7rem;
  margin-top: -5rem;
  max-width: 700px;
}
.main-section__left--greetings {
  font-size: 4.12rem;
  font-weight: 700;
  margin-bottom: 0px;
}
.main-section__left--greetings span {
  color: #00ADB5;
}
.main-section__left--do {
  font-weight: 400;
  margin-bottom: 30px;
}
.main-section__left--desc {
  font-weight: 400;
  font-size: 1.2rem;
}
.main-section__right {
  height: 100%;
  flex: 1;
  position: relative;
}
.main-section__right--backgroundcolor {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 350px;
  height: 350px;
  border-radius: 45% 55% 34% 66%/26% 29% 71% 74%;
  transform: translate(-63%, -50%) rotate(180deg);
  background: #4CA1AF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #C4E0E5, #242998); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #C4E0E5, #242998); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about {
  height: 100vh;
  background: #242998;
  position: relative;
}
.about .custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.about .custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 73px;
}
.about .custom-shape-divider-top .shape-fill {
  fill: #FFFFFF;
}
.about .about-content {
  padding: 100px 2rem 0;
}
.about .about-content__left {
  color: #FFFFFF;
  flex: 1;
}
.about .about-content__left--heading {
  color: #09e2ee;
  margin-bottom: 10px;
  font-size: 4.12rem;
}
.about .about-content__left--desc {
  font-size: 15px;
  font-weight: 300;
  color: #FFFFFF;
}
.about .about-content .seperator {
  position: relative;
}
.about .about-content .seperator__line {
  width: 8px;
  height: 50vh;
  position: absolute;
  transform: translate(50% 50%);
  bottom: 25px;
  background-color: #00ADB5;
}
.about .about-content .seperator__circle {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #00ADB5;
}
.about .about-content__right {
  flex: 1;
}
.about .about-content__right .right_content .divider-line {
  width: 60%;
  height: 5px;
  background: #FFFFFF;
  margin: 10px 0;
}
.about .about-content__right .right_content__text {
  color: #FFFFFF;
}
.about .about-content__right .right_content__text--value {
  color: #00ADB5;
  font-size: 3wrem;
  font-weight: 500;
}
.about .curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
}
.about .curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background: #FFFFFF;
  bottom: 12px;
  transform: translate(85%, 65%);
}
.about .curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background: #242998;
  bottom: 0;
  transform: translate(-4%, 40%);
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
