@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.main-section {
  color: #ffffff;
  height: 88vh;
}
.main-section__left {
  margin-left: 7rem;
  margin-top: -5rem;
  max-width: 700px;
}
.main-section__left--greetings {
  font-size: 4.12rem;
  font-weight: 700;
  margin-bottom: 0px;
}
.main-section__left--greetings span {
  color: #6EE4E3;
}
.main-section__left--do {
  font-weight: 400;
  margin-bottom: 30px;
}
.main-section__left--do .value-animation {
  display: inline-block;
  width: 150px;
  height: 26px;
  margin-top: 8px;
  position: absolute;
  text-align: center;
  overflow: hidden;
  margin-left: 12px;
}
.main-section__left--do .value-animation span {
  position: absolute;
  width: 115px;
  left: 19px;
  animation: textanimation 3s ease-in-out infinite;
}
.main-section__left--do .value-animation::before {
  content: "[";
  color: #6EE4E3;
  position: absolute;
  left: 0;
  top: -7px;
  font-weight: 600;
}
.main-section__left--do .value-animation::after {
  content: "]";
  position: absolute;
  color: #6EE4E3;
  right: 0;
  top: -7px;
  font-weight: 600;
}
.main-section__left--desc {
  font-weight: 400;
  font-size: 1.2rem;
}
.main-section__left .resume {
  margin-top: 25px;
  background: #00ADB5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4196078431);
  font-weight: 500;
  font-size: 20px;
  font-family: "Proxima Soft", sans-serif;
}
.main-section__right {
  height: 100%;
  flex: 1;
  position: relative;
}
.main-section__right--backgroundcolor {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 350px;
  height: 350px;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  transform: translate(-63%, -50%);
  background-image: url("../Assets/img/mypic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: morph 8s ease-in-out infinite;
  box-shadow: 0 0 10px 2px #5a5a5a;
}
.main-section__right .wavy {
  position: absolute;
  width: 150px;
  height: 50px;
  overflow: hidden;
}
.main-section__right .wavy::before {
  content: "aaaaaaaaaa";
  position: absolute;
  top: -42px;
  left: 0;
  font-size: 4em;
  color: transparent;
  text-decoration-style: wavy;
  text-decoration-color: rgb(7, 18, 177);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  animation: waves 4s linear infinite;
}
.main-section__right .position1 {
  bottom: 24%;
  transform: rotate(30deg);
}
.main-section__right .position2 {
  transform: rotate(343deg);
  right: 10%;
  top: 13%;
}
.main-section__right .position3 {
  top: 11%;
}

@keyframes textanimation {
  0% {
    transform: translateY(-20px);
  }
  25% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes waves {
  0% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(-55px);
  }
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.about {
  overflow: hidden;
  padding-top: 20px;
  height: 100vh;
  position: relative;
}
.about-background {
  animation: bganimation linear 20s infinite;
  overflow: hidden;
  z-index: -1;
  width: 200%;
  height: 100vh;
  position: absolute;
  background-image: url('data:image/svg+xml,%3Csvg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"/%3E%3C/svg%3E');
}
.about-header {
  margin-left: 112px;
  width: 80vw;
}
.about-header .about-title {
  font-size: 4.12rem;
  font-weight: 700;
  margin-bottom: 0px;
  color: #00ADB5;
}
.about-header .about-desc {
  font-size: 1.1rem;
  color: rgb(34, 34, 34);
}
.about-content {
  display: flex;
  margin: 0px 112px;
}
.about-content-left {
  margin-top: 30px;
  flex: 1;
}
.about-content-left .school {
  margin-top: 30px;
}
.about-content-left .school-name {
  font-size: 25px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
}
.about-content-left .school-program {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(61, 61, 61);
  font-family: "Proxima Soft", sans-serif;
}
.about-content-left .school-desc {
  margin-bottom: 0px;
}
.about-content-right {
  margin-left: 70px;
  padding: 20px;
  flex: 1;
}
.about-content-right .fields .field .top-line {
  width: 100%;
  height: 3px;
  background: rgb(82, 82, 82);
  margin-bottom: 20px;
}
.about-content-right .fields .field-content-count {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(31, 31, 31);
  margin-right: 20px;
}
.about-content-right .fields .field-content-name {
  margin-top: 10px;
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  color: #0c6165;
  line-height: 35px;
  text-shadow: 0px 0px 1px black;
}
.about-content-right .fields .field-content-buttons {
  position: relative;
  margin-left: auto;
}
.about-content-right .fields .field-content-buttons-placeholder {
  font-size: 19px;
  font-family: "Proxima Soft", sans-serif;
  margin-top: 12px;
}
.about-content-right .fields .field-content-button {
  display: block;
  width: 32px;
  height: 77px;
  border-radius: 10px;
  background: #00ADB5;
  border: 1px solid rgb(49, 49, 49);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4196078431);
  transform: rotate(270deg);
  position: absolute;
  bottom: -11px;
  right: 23px;
  overflow: hidden;
}
.about-content-right .fields .field-content-button a {
  margin-top: 2px;
}
.about-content-right .fields .field-content-button a span {
  display: block;
  width: 17px;
  height: 17px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  transform: rotate(45deg);
}
.about-content-right .fields .field-content-button a span:nth-child(2) {
  animation-delay: -0.1s;
}
.about-content-right .fields .field-content-button a span:nth-child(3) {
  animation-delay: -0.2s;
}
.about-content-right .fields .field-content-button:hover {
  background: hsl(183, 100%, 20%);
}
.about-content-right .fields .field-content-button:hover span {
  animation: animate 2s infinite;
}

@keyframes bganimation {
  0% {
    transform: translateX(-48.5vw);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-15px, -15px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(0px, 0px);
  }
}
.divider {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 50vh;
  background-color: #00ADB5;
}

.circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  top: 45%;
  left: -8px;
  background-color: #00ADB5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  height: 200vh;
}
body .main-background {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 2.9fr 1.1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "main-background__left main-background__right";
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 28" width="56" height="28"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z"%3E%3C/path%3E%3C/svg%3E');
}
body .main-background__left {
  grid-area: main-background__left;
  background: rgba(0, 60, 119, 0.8784313725);
}
body .main-background__right {
  grid-area: main-background__right;
  background: rgba(110, 228, 226, 0.8117647059);
}

nav {
  display: flex;
  align-items: center;
  padding: 0 20px 0 40px;
}
nav .main-logo__text a {
  color: white;
  font-family: "Rubik", sans-serif;
}
nav .hamburger-menu {
  margin-left: auto;
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
